@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
@import url("~react-multi-carousel/lib/styles.css");

.font-family-karla {
  font-family: karla;
}

.ais-SearchBox-reset,
.ais-SearchBox-loadingIndicator,
.ais-SearchBox-submit {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
}

.ais-SearchBox-reset[hidden],
.ais-SearchBox-loadingIndicator[hidden] {
  display: none;
}

.ais-SearchBox-reset[hidden],
.ais-SearchBox-loadingIndicator[hidden] {
  display: none;
}

.ais-SearchBox-submit {
  left: 0;
}

.ais-SearchBox-reset,
.ais-SearchBox-loadingIndicator {
  right: 0;
}

.ais-SearchBox-input {
  width: 100%;
  outline: none;
}

#blogPostBody {
  color: #333333;
  text-align: justify;
  hyphens: auto;
  font-size: 1.1em;
}

#blogPostBody p {
  margin-bottom: 1em;
  line-height: 1.8em;
}

#blogPostBody h2 {
  font-weight: bold;
  font-size: 1.35em;
  margin: 1.5em 0 1em;
}

#blogPostBody a {
  text-decoration: underline;
}

#blogPostBody ul {
  list-style: square;
  margin-left: 2em;
  margin-bottom: 1em;
}

.text-justify {
  text-align: justify;
  hyphens: auto;
}
